ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(228, 136, 231);
    position: fixed; width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
}

.bilder {
    width: 250px;
    height: auto;
}

#current {
    background-color: White;
}
.sokruta {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  li a:hover {
    background-color: white;
    color: black;
    animation-name: gradienthover;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
  }
  @keyframes gradienthover {
    0% {
      background-color: rgb(231, 167, 236);
    }
  100% {
      background-color: white;
  }
}
.wrapper_2col {
 margin-left: 150px;
 margin-right: 150px;
}
footer {
    margin-left: 150px;
}
@media screen and (max-width: 600px) {
  .mainmenu .sokruta {
    float: none;
  }

  .mainmenu input[type=text], .sokruta, ul {
    float: none;
    margin: 0;
    display: block;
    text-align: left;
    width: 100%;
    padding: 10px;
  }
}
