.unordered { 
    list-style-type: square;
 } 
 .nested-ul {
      list-style-type: circle; 
    }
    .unordered {

        line-height: 170%;
        
        }
        .unordered {

            background: #f1cb61;
            
            padding: 20px;
            
            width: 30%;
            
            font-family: Arial, Helvetica, sans-serif;
            
            }
            
            .unordered li {
            
            background: #f8d880;
            
            margin: 5px;
            
            }
            
            .nested-ul li {
            
            background: #f5e0a5;
            
            margin: 5px;
            
            }
            .ordered {

                background: #91f7cc;
                
                padding: 20px;
                
                width: 20%;
                
                font-family: serif;
                
                font-size: 1.3em;
                
                }
                
                .ordered li {
                
                background: #d3ffee;
                
                padding: 5px;
                
                margin-left: 20px;
                
                }
                .custom-box-list {

                    margin: 0;
                    
                    padding: 0;
                    
                    list-style-type: none;
                    
                    }
                    
                    .custom-box-list li {
                    
                    counter-increment: step-counter;
                    
                    margin-bottom: 10px;
                    
                    }
                    
                    .custom-box-list li::before {
                    
                    content: counter(step-counter);
                    
                    margin-right: 5px;
                    
                    font-size: 80%;
                    
                    background-color: rgb(184, 112, 212);
                    
                    color: rgb(2, 1, 1);
                    
                    font-weight: bold;
                    
                    padding: 3px 8px;
                    
                    border-radius: 3px;
                    
                    }
                    .list-image {

                        list-style: none;
                        
                        padding-left: 0;
                        
                        }
                        
                        .list-image li {
                        
                        position: relative;
                        
                        padding-left: 30px;
                        
                        line-height: 170%;
                        
                        }
                        
                        .list-image li:before {
                        
                        content: '';
                        
                        width: 20px;
                        
                        height: 20px;
                        
                        position: absolute;
                        
                        background-image: url('mushroom.png');
                        
                        background-size: cover;
                        
                        background-position: center;
                        
                        left: 0;
                        
                        top: 50%;
                        
                        transform: translateY(-50%);
                        
                        }
                        .popular-sites {

                            list-style: none;
                            
                            padding-left: 0;
                            
                            }
                            
                            .popular-sites li {
                            
                            position: relative;
                            
                            padding-left: 30px;
                            
                            line-height: 170%;
                            
                            }
                            
                            .popular-sites li:before {
                            
                            content: '';
                            
                            width: 20px;
                            
                            height: 20px;
                            
                            position: absolute;
                            
                            background-image: url('moon.png');
                            
                            background-size: cover;
                            
                            background-position: center;
                            
                            left: 0;
                            
                            top: 50%;
                            
                            transform: translateY(-50%);
                            
                            }
                            table, td, th {

                                border: 1px solid black;
                                
                                }
                                
                                table {
                                
                                border-collapse: collapse;
                                
                                }
th, td {
    padding: 5px;
}
td {
    text-align: center;
}
caption {

    caption-side: top;
    
    text-align: center;
    
    font-style: italic;
    
    font-weight: bold;
    
    color: rgb(153, 93, 93);
    
    }
    table, th,td {

        border: 1px solid black;
        
        border-collapse: collapse;
        
        }
        
        th,td {
        
        padding: 15px;
        
        text-align: center;
        
        }
        
        caption {
        
        caption-side: bottom;
        
        text-align: center;
        
        font-style: italic;
        
        font-weight: bold;
        
        color: black;
        
        }
        
        .table-simple th {
        
        background-color: rgb(128, 112, 112);
        
        color: rgb(253, 251, 251);
        
        }
        .table-simple tr:nth-child(even) {

            background-color: #db79df;
            
            }
            
            .table-simple tr:nth-child(odd) {
            
            background-color: rgb(196, 175, 191);
            
            }
            
            .table-simple tr:hover {
            
            background-color: #ff9ad2; 
            }
            .head-body-foot thead {

                color: purple;
                
                background-color: rgb(231, 192, 146);
                
                }
                
                .head-body-foot tbody {
                
                color: rgb(182, 212, 182);
                
                font-weight: bold;
                
                background-color: rgb(177, 106, 39);
                
                }
                
                .head-body-foot tfoot {
                
                color: rgb(5, 4, 0);
                
                background-color: rgb(227, 231, 233);
                
                font-weight:bold ;
                
                }
                .head-body-foot tbody:hover {

                    background-color: #b8a921;
                    
                    }